
body {
  margin: 0;
  background-color: black;
  font-family: monospace;
  color: white;
}

header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
}

nav a {
  color: #00f;
  margin: 0 10px;
  text-decoration: none;
}

.subscribe-section {
  background-color: #d8c6a3;
  padding: 30px 0;
  text-align: center;
}

.subscribe-section h2 {
  margin-bottom: 10px;
}

.subscribe-section input {
  padding: 8px;
  font-family: monospace;
}

.subscribe-section button {
  padding: 8px 12px;
  font-family: monospace;
  background: black;
  color: white;
  border: none;
}

.pipes-section {
  position: relative;
  background: black;
  text-align: center;
  overflow: hidden;
}

.pipes-image {
  width: 100%;
  height: auto;
  display: block;
}

#smokeCanvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
